<!DOCTYPE html>
<html lang="en" xmlns:usersApp="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Reservas CEI | Crear Cuenta</title>
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'usersApp/css/signup.css' %}">
</head>

<body>

    <div class="container">
      <div class="row ">
        <div class = "col-md-4 offset-md-4 form-container">
          <img class="signup-logo" src="{% static 'static/img/logos/logo_navbar_cei.png' %}">
          <form action="{% url 'signup_submit' %}" method="post">  {% csrf_token %}
            <div class="form-group">
                <label class="field-label" for="inputEmail">Email</label>
                <input required="required" name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group">
                <label class="field-label" for="inputFirstName">Nombres</label>
                <input required="required" name="first_name" type="text" class="form-control" id="inputFirstName" placeholder="Pedro Jesús">
            </div>

            <div class="form-group">
              <label class="field-label" for="inputLastName">Apellidos</label>
              <input required="required" name="last_name" type="text" class="form-control" id="inputLastName" placeholder="Perez González">
            </div>

            <div class="form-group">
              <label class="field-label" for="RUT">RUT</label>
              <input required="required" name="RUT" type="text" class="form-control" id="RUT" placeholder="123456789">
            </div>

            <div class="form-group">
                <label class="field-label" for="inputPassword">Password</label>
                <input minlength="6" required="required" name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Crear cuenta</button>
            <a href="{% url 'login' %}" style="float: right;">Volver</a>
         </form>

          <div class = message>
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

        </div>

        </div>
      </div>
</body>
</html>