<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Sistema de Reservas CEI</title>
</head>
<body>
{% load bootstrap4 %}
{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display a form #}

<div class="container">

    <div class="row">
        <div class="col"></div>
        <div class="col"><div style="text-align: center;">NAVBAR</div></div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div style="text-align: center;">ARTICULOS - ESPACIOS</div>
            </div>

            <div class="row">

                <div class="input-group mb-3" style="margin-bottom: 8px !important;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="background-color: #ffffff! important; border-right: 0px!important;" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" style="border-left: 0px!important"placeholder="Ingrese artículo a buscar" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="searchbtn" type="button">Buscar</button>

                    </div>
                </div>
                <div class="row" style="width:80%;">
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>---</option>
                                <option value="1">Tipo 1</option>
                                <option value="2">Tipo 2</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Estado</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>---</option>
                                <option value="1">Disponible</option>
                                <option value="2">En Reparaciones</option>
                                <option value="3">Perdido</option>
                                <option value="4">No Disponible</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
            <div class="w-100" style="height: 50px;"></div>
                <div class="col">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="http://www.adnradio.cl/images_remote/359/3598945_n_vir3.jpg?u=403570" alt="Card image cap">
                    <div class="card-body" style="padding-left: 5px!important">
                        <h5 class="card-title"><i class="fas fa-circle" style="color: red"></i> Patito</h5>

                    </div>
                </div>
                </div>

                <div class="col">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="http://www.adnradio.cl/images_remote/359/3598945_n_vir3.jpg?u=403570" alt="Card image cap">
                    <div class="card-body" style="padding-left: 5px!important">
                        <h5 class="card-title"><i class="fas fa-circle" style="color: red"></i> Patito</h5>

                    </div>
                </div>
                </div>

                <div class="col">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="http://www.adnradio.cl/images_remote/359/3598945_n_vir3.jpg?u=403570" alt="Card image cap">
                    <div class="card-body" style="padding-left: 5px!important">
                        <h5 class="card-title"><i class="fas fa-circle" style="color: red"></i> Patito</h5>

                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="http://www.adnradio.cl/images_remote/359/3598945_n_vir3.jpg?u=403570" alt="Card image cap">
                    <div class="card-body" style="padding-left: 5px!important">
                        <h5 class="card-title"><i class="fas fa-circle" style="color: red"></i> Patito</h5>

                    </div>
                </div>
                </div>

                <div class="col">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="http://www.adnradio.cl/images_remote/359/3598945_n_vir3.jpg?u=403570" alt="Card image cap">
                    <div class="card-body" style="padding-left: 5px!important">
                        <h5 class="card-title"><i class="fas fa-circle" style="color: yellow"></i> Patito</h5>

                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="http://www.adnradio.cl/images_remote/359/3598945_n_vir3.jpg?u=403570" alt="Card image cap">
                    <div class="card-body" style="padding-left: 5px!important">
                        <h5 class="card-title"><i class="fas fa-circle" style="color: lawngreen"></i> Patito</h5>

                    </div>
                </div>
                </div>
            </div>



            <div class="row">
                <div class="w-100" style="height: 50px;"></div>
                Top Pedidos:
                <hr style="width: 100%; color: black; height: 1px;margin-top: 0;" />
            </div>

        </div>


    <div class="col-1"></div>
    </div>

</div>
</div>


</body>
</html>

