<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>

{% load bootstrap4 %}
{% bootstrap_css %}

<body>

    <div class="container">
      <div class="row ">
        <div class = "col-md-4 offset-md-4">
          <form>
          <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>

          <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>

          <div class="checkbox">
              <label><input type="checkbox"> Recordar contraseña</label>
          </div>

          <button type="submit" class="btn btn-primary">Login</button>
          <a href="login.html">¿No tienes cuenta? Crea una.</a>
         </form>
        </div>

        </div>
      </div>


</body>
