<!DOCTYPE html>
<head xmlns:usersApp="http://www.w3.org/1999/xhtml">
  <meta charset="UTF-8">
  <title>Login</title>
</head>

{% load bootstrap4 %}
{% bootstrap_css %}

<body>

    <div class="container">
      <div class="row ">
        <div class = "col-md-4 offset-md-4">
          <form action="submit/" method="post"> {% csrf_token %}
          <div class="form-group">
              <label for="inputEmail">Email</label>
              <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>

          <div class="form-group">
              <label for="inputPassword">Password</label>
              <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>

          <div class="checkbox">
              <label><input type="checkbox"> Recordar contraseña</label>
          </div>

          <button type="submit" class="btn btn-primary">Login</button>
          <a href="/user/signup/" style="float: right">¿No tienes cuenta? Crea una.</a>
         </form>
          {% if error_message %} <label style="color: #ff0000;"> {{error_message}}</label> {% endif %}

        </div>
        </div>

      </div>


</body>
