<div class="col-md-2 admin-sidebar">
  <ul class="nav flex-column">
    <li class="nav-item admin-sidebar-item">
      <a class="nav-link align-items-center" href="{% url 'user-panel' %}">
        <i class="fas fa-user"></i>
      </a>
    </li>
    <li class="nav-item admin-sidebar-item">
      <a class="nav-link" href="{% url 'items-panel' %}">
        <i class="fas fa-cart-plus"></i>
      </a>
    </li>
    <li class="nav-item admin-sidebar-item">
      <a class="nav-link" href="{% url 'actions-panel' %}">
        <i class="fas fa-clock"></i>
      </a>
    </li>
  </ul>
</div>
