{% extends 'application_layout.html' %}

{% block title %}
  Bienvenido!
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  {% include '_sidebar.html' %}
	<div class="col-md-10">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>LA MALDITA GRILAAAAAAAAAAAAAAAA</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 admin-table-container">
        <h1>Pendientes</h1>
        <table id="reservations-table" class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del Espacio</th>
            <th scope="col">Usuario</th>
            <th scope="col">Fecha de Prestamo</th>
          </tr>
          </thead>
          <tbody>
          {% for reservation in reservations %}
          <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.space.name }}</td>
            <td>{{ reservation.user.get_full_name }}</td>
            <td>{{ reservation.starting_date_time }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-6 admin-table-container">
        <h1>Pedidos</h1>
        <table id="loans-table" class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del Espacio</th>
            <th scope="col">Usuario</th>
            <th scope="col">Fecha de Prestamo</th>
          </tr>
          </thead>
          <tbody>
          {% for loan in loans %}
          <tr>
            <td>{{ loan.id }}</td>
            <td>{{ loan.article.name }}</td>
            <td>{{ loan.user.get_full_name }}</td>
            <td>{{ loan.starting_date_time }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
