{% extends 'application_layout.html' %}

{% block title %}
  Panel de Administración | Artículos y Espacios
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  {% include '_sidebar.html' %}
	<div class="col-md-10">
    <div class="row">
      <div class="col-md-6 offset-md-3 form-container">
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <input class="form-control" type="text" placeholder="Ingrese su busqueda">
            <div class="input-group-append">
              <button class="search-button btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 admin-table-container">
        <h1>Articulos</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del Articulo</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          {% for article in articles %}
          <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.name }}</td>
            <td>{{ article.state }}</td>
            <td class="center-column">
              <a class="table-button" href="{% url 'article_data_admin' article.id %}"><i class="fas fa-edit"></i></a>
              <a class="table-button" href="#"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-6 admin-table-container">
        <h1>Espacios</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del Espacio</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          {% for space in spaces %}
          <tr>
            <td>{{ space.id }}</td>
            <td>{{ space.name }}</td>
            <td>{{ space.get_state_display }}</td>
            <td class="center-column">
              <a class="table-button" href="#"><i class="fas fa-edit"></i></a>
              <a class="table-button" href="#"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
