{% extends 'application_layout.html' %}

{% block title %}
  Bienvenido!
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  {% include '_sidebar.html' %}
	<div class="col-md-10">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Rut</th>
        <th scope="col">Correo</th>
        <th scope="col">Estado</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Rut</td>
        <td>Correo</td>
        <td>Estado</td>
        <td></td>
      </tr>
      </tbody>
    </table>
	</div>
</div>
</div>
{% endblock %}
