
{% extends 'application_layout.html' %}

{% load static %}

{% block title %}
  Ficha del artículo: {{ article.name }}
{% endblock %}


{% block body %}
<div class = "container" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-7">

      <div class="row"><h1> {{ article.name }}
        {% if article.state == "D" %}
            <span class="badge badge-pill badge-success"><i class="fas fa-chevron-left"></i> {{  article.get_state_display }}</span>
          {% elif article.state == "P" %}
            <span class="badge badge-pill badge-primary"><i class="fas fa-chevron-left"></i> {{  article.get_state_display }}</span>
          {% elif article.state == "L" %}
            <span class="badge badge-pill badge-danger"><i class="fas fa-chevron-left"></i> {{  article.get_state_display }}</span>
          {% elif article.state == "R" %}
            <span class="badge badge-pill badge-warning"><i class="fas fa-chevron-left"></i> {{  article.get_state_display }}</span>
          {% endif %}
      </h1>
      </div>
        {% if article.image %}
            <img src= " {% static article.image.url %}" class="img-fluid" alt="Foto" style="height: 400px" />
        {% else %}
            <img class="card-img-top" src="{% static 'img/items/default_article.jpg' %}" alt="Card image cap">
        {% endif %}

      <div style ="border:1px dashed darkgrey;border-radius: 5px;padding: 5px;"><p> {{ article.description }} </p></div>
    </div>

    <div class = "col-md-5">
      <h3>Solicitar reserva</h3>
      <form action="" method="" style="border-radius: 7px;border: 1px solid darkgrey; padding: 5px 30px">
        <div class = "row" style="margin: 5px 0px">
          <label>Fecha: </label>  <input style="margin-left: 10px" type = "date" name = "desde" /> <label style="margin-left: 5px;margin-top: 5px"><i class="far fa-calendar-alt"></i></label>
        </div>
        <div class = "row" style="margin: 5px 0px">
          <label>Hora: </label> <input style="margin-left: 20px" type = "time" name = "asdad" />
        </div>
          <div class = "row" style="margin: 5px 0px; text-align: right">
            <button class = "btn btn-primary float-right" style="margin: 5px 0px;"> Pedir </button>
          </div>

      </form>
        <div class = "row reservas" style="padding: 0px 15px; margin-top: 20px">
          <h3> Historial de reservas</h3>
            <div style="padding: 10px 0px; overflow: scroll; height: 200px; border-radius: 7px; border: 1px solid darkgrey; width: 100%;">
                <ul>
                    {% for elemento in last_loans %}
                        <li>{{ elemento }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
{% endblock %}
