<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="#" style="text-align: right">
{#              Se agregó el circulo y el formato negrita#}
              <i class="fas fa-circle" style="font-size: x-small; color: limegreen"></i> <strong>Tia Jocy</strong></a>
{#          Además de agregó esto dentro del span#}
          <span class="navbar-text">
              <p class="text-right">12.345.678-9</p>
              <p class="text-right">jsimmonds@dcc.uchile.cl</p>
          </span>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user" style="font-size: 100px"></i>
{#            Se agrandó la imagen#}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Hacer una reserva</a>
          <a class="dropdown-item" href="#">Mi perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Cambiar contraseña</a>
          <a class="dropdown-item" href="#">Cerrar Sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
