{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <a class="navbar-brand" href="{% url 'landing_articles' %}">
    <img class="navbar-logo" src="{% static 'img/logos/logo_navbar_cei.png' %}" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_data' user.id %}">
          <div class="navbar-user-name">
            {% if user.enabled %}
              <span class="badge badge-pill badge-success">Habilitado</span>
            {% else %}
              <span class="badge badge-pill badge-danger">No Habilitado</span>
            {% endif %}
            {{user.get_full_name}}
          </div>
          <div class="navbar-user-rut">{{ user.rut }}</div>
          <div class="navbar-user-email">{{ user.get_email }}</div>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'landing_articles' %}">Hacer una reserva</a>
          <a class="dropdown-item" href="{% url 'user_data' user.id %}">Mi perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Cambiar contraseña</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

{#<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">#}
{#    <a class="navbar-brand" href="#">Navbar</a>#}
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{##}
{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#        <ul class="navbar-nav ml-auto">#}
{#            <li class="nav-item">#}
{#                <a class="nav-link active" href="#" style="text-align: right">#}
{#                    <i class="fa fa-circle" style="font-size: x-small; color: limegreen"></i>#}
{#                    <strong style="font-size: large">Tia Jocy</strong> </a>#}
{#                <a class="nav-link active" style="text-align: right"> 12.345.678-9</a>#}
{#                <a class="nav-link active" style="text-align: right"> jsimmonds@dcc.uchile.cl</a>#}
{#            </li>#}
{#            <li class="nav-item dropdown" style="text-align: right">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
{#                   aria-haspopup="true" aria-expanded="false">#}
{#                    <i class="fas fa-user"></i>#}
{#                </a>#}
{#                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">#}
{#                    <a class="dropdown-item" href="#">Hacer una reserva</a>#}
{#                    <a class="dropdown-item" href="#">Mi perfil</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="#">Cambiar contraseña</a>#}
{#                    <a class="dropdown-item" href="#">Cerrar Sesión</a>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}