{% extends 'application_layout.html' %}

{% block title %}
Sistema de Reserva CEI - Ver Artículos
{% endblock %}

{% block body %}
{% load static %}
{% load mainApp_extras %}
<div class="container">
    <br>
    <div class="row" style="margin-bottom: 20px;">
        <br>
    <div class="col-4"></div>
    <div class="col-4" style="text-align: center;">


            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="" class="btn btn-success disabled" role="button" aria-disabled="true">Artículos</a>
                <a href="{% url 'landing_spaces' %}" class="btn btn-light " role="button" aria-disabled="false">Espacios</a>
            </div>

    </div>
    <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <form method="get" action="{% url 'search' %}">

            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                    <input name="query" type="text" class="form-control" placeholder="Ingrese artículo a buscar" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="searchbtn" type="submit">Buscar</button>

                    </div>
                </div>
                <div class="row w-75">
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                            </div>
                            <select name="tipo" class="custom-select" id="inputGroupSelect01">
                                <option selected value="">---</option>
                                <option value="1">Tipo 1</option>
                                <option value="2">Tipo 2</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect02">Estado</label>
                            </div>
                            <select name="estado" class="custom-select" id="inputGroupSelect02">
                                <option selected value="A">---</option>
                                <option value="D">Disponible</option>
                                <option value="R">En Reparaciones</option>
                                <option value="L">Perdido</option>
                                <option value="P">En Préstamo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-2"></div>

    <div class="card-columns">
        {% for producto in productos %}
            <div class="card item-card">
            <a href="{% url 'article_data' producto.id %}">
              {% if producto.image %}
                  <img class="card-img-top" src="{% static producto.image.url %}" alt="Card image cap">
              {% else %}
                  <img class="card-img-top" src="{% static 'img/items/default_article.jpg' %}" alt="Card image cap">
              {% endif %}
                <div class="card-body" style="border-top: 1px solid #EAEAEA">
                    <p class="card-text"><i class="fas fa-circle" style="color:{{ colores|get_item:producto.state }};"></i> {{producto.name}}</p>
                </div>
            </a>
            </div>
        {% endfor %}


    </div>
    </div>
</div>

{% endblock %}

